*.class
*.hi
*.o
__pycache__/
a.out
fibonacci
fp/factorial/fact*
fp/constexpr
fp/side-effects2
mk/config.mk
oop/classes/vector1
oop/classes/vector2
oop/exceptions
oop/function-overloading
oop/pointers-and-references
oop/polymorphism
oop/signal-handling
oop/templates/vector-class
oop/templates/vector-structure
oop/templates/vector-template
oop/vector
quickcheck
side-effects1
