*.class
*.hi
*.o
__pycache__/
a.out
build/
mk/config.mk
oop/classes/vector1
oop/classes/vector2
oop/cli
oop/exceptions
oop/function-overloading
oop/multiple-inheritance
oop/pointers-and-references
oop/polymorphism
oop/signal-handling
oop/templates/vector-class
oop/templates/vector-structure
oop/templates/vector-template
oop/toy-accounting-system/c-plusplus/tas
oop/vector
